
<div class="container">
    <h1>Clientes</h1>
</div>
<div class="container">
    <ejs-grid id="grid_clientes" allowPaging allowResizing allowReordering allowFiltering>
        <e-grid-filtersettings type="Excel">            
        </e-grid-filtersettings>

        <e-grid-pagesettings pagesizes="true" pagesize=10>           
        </e-grid-pagesettings>

        <e-grid-columns>
            <e-grid-column headertextalign="Center" headerText="ID"></e-grid-column>
            <e-grid-column headertextalign="Center" headerText="Nombre"></e-grid-column>
            <e-grid-column headertextalign="Center" headerText="DUI"></e-grid-column>
            <e-grid-column headertextalign="Center" headerText="Estado"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>