@{
    List<string> accciones = new List<string>()
    {
        "Add",
        "Cancel",
        "Edit",
        "Update",
        "Delete"
    };
}
<div class="container">
    <h1>Clientes</h1>
</div>
<div class="container">
    <ejs-grid id="grid_clientes" toolbar="accciones" allowPaging allowResizing allowReordering allowFiltering>
        <e-data-manager url="/Clientes/Get" insertUrl="/Clientes/Insert" updateUrl="/Clientes/Edit" adaptor="UrlAdaptor" />
        <e-grid-filtersettings type="Excel">            
        </e-grid-filtersettings>
        <e-grid-editsettings allowAdding="true" allowDeleting="true" allowEditing="true"></e-grid-editsettings>
        <e-grid-pagesettings pagesizes="true" pagesize=10>           
        </e-grid-pagesettings>

        <e-grid-columns>
            <e-grid-column visible=false field="id" isPrimaryKey=true  headerText="id"></e-grid-column>
            <e-grid-column headertextalign="Center" allowEditing="false" textAlign="Right" field="codigo" isIdentity=true headerText="Código"></e-grid-column>
            <e-grid-column headertextalign="Center" textAlign="Left" field="nombre" headerText="Nombre"></e-grid-column>
            <e-grid-column headertextalign="Center" textAlign="Left" field="dui" headerText="DUI"></e-grid-column>
            <e-grid-column headertextalign="Center" textAlign="Center" field="estado" headerText="Estado" displayAsCheckbox=true edittype="booleanedit"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>